*{
		box-sizing: border-box;
		margin:0;
		border: 0;
	}

body{
	background-color: #f7f4f2;
	}

header{
		background-color: #dcd0d8;
	}

h1{
		font-size: 30px;
	}

.nav{
	list-style-type: none;
	text-align: right;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}